doctype html
html
	head
		title Mark McKelvy
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Vendor stylesheets
		link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')

		//- User stylesheets
		link(rel='stylesheet', href='/stylesheets/lib/styles.css')


	body
		//- Navigation
		//- nav.navbar
		//- 	div.nav-wrapper
		//- 		ul.nav-list
		//- 			li
		//- 				a(href="#") About
		//- 			li
		//- 				a(href="#") Work
		//- 			li
		//- 				a(href="#") Thoughts