doctype html
html
	head
		title Mark McKelvy
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Vendor stylesheets
		link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')

		//- User stylesheets
		link(rel='stylesheet', href='/stylesheets/lib/styles.css')


	body
		
			
