doctype html
html
	head
		title Mark McKelvy
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Vendor stylesheets
		link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')

		//- User stylesheets
		link(rel='stylesheet', href='/stylesheets/lib/styles.css')

		//- Vendor JS
		script(src="/js/vendor/jquery-2.1.1.min.js")

		//- User JS
		script(src="/js/main.js")

	body
		div.main-container
			div.header-row.margin-bottom-30
				div.header-col-100
					h1.site-header-font.padding-top-100.inline-hz-center Mark McKelvy

			div.header-row.margin-bottom-60
				div.header-col-33
					h2.site-subhead-font mmckelvy@gmail.com

				div.header-col-33
					h2.site-subhead-font.inline-hz-center web developer
			
				div.header-col-33
					h2.site-subhead-font.inline-right-align
						a.black(href="https://twitter.com/markmckelvy", target="_blank") @markmckelvy

			div.header-row.margin-bottom-22
				div.header-col-100
					nav.navbar
						ul.nav-list.site-subhead-font
							li
								a.nav-item-link(data-section="about-section") about

							li
								a.nav-item-link(data-section="work-section") work

							li
								a.nav-item-link(data-section="stack-section") stack

							li
								a.nav-item-link(data-section="thoughts-section") thoughts

							li
								a.nav-item-link(data-section="links-section") find me