doctype html
html
	head
		title Mark McKelvy
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Vendor stylesheets
		link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')

		//- User stylesheets
		link(rel='stylesheet', href='/stylesheets/lib/styles.css')


	body
		div.site-header-container
			div.header-row
				div.header-col-100
					h1.site-header-font.padding-top-100.margin-bottom-30.inline-hz-center MARK MCKELVY

			div.header-row.margin-bottom-60
				div.header-col-33
					h2.site-subhead-font boulder, co

				div.header-col-33
					h2.site-subhead-font.inline-hz-center web developer
			
				div.header-col-33
					h2.site-subhead-font.inline-right-align @markmckelvy

			div.header-row
				div.header-col-100
					nav.navbar
						ul.nav-list.site-subhead-font
							li
								a about

							li
								a work

							li
								a thoughts

							li
								a something

							li
								a contact