div#skoop-modal.modal-wrapper.hidden-el
	div.modal-lightbox
	div.modal-content.modal-container.margin-top-10pct.margin-bottom-10pct
		div.modal-row.margin-bottom-30
			div.modal-col-100.position-relative
				img.responsive-img(src="./images/skoopsaleslarge.jpg")

		div.modal-row.margin-bottom-30
			div.modal-col-100.position-relative
				img.responsive-img(src="./images/skoopfilter.png")

		div.modal-row
			div.modal-col-100.position-relative
				img.responsive-img(src="./images/skoopprof.png")