div#skoop-modal.hidden-el
	div.modal-lightbox
	div.modal-content
		div.modal-container
			div.modal-row.margin-bottom-30
				div.modal-col-100.position-relative
					img.responsive-img(src="./images/skoopsaleslarge.png")

			div.modal-row.margin-bottom-30
				div.modal-col-100.position-relative
					img.responsive-img(src="./images/skoopsaleslarge.png")

			div.modal-row.margin-bottom-30
				div.modal-col-100.position-relative
					img.responsive-img(src="./images/skoopsaleslarge.png")