div#skoop-modal.hidden-el
	div.modal-lightbox
	div.modal-content.modal-container
		div.modal-row
			div.modal-col-25
				div.modal-side-panel
					h3.med-header-lite.white.inline-hz-center.margin-bottom-5 SKOOP ADMIN PLATFORM
					h4.white.base-text-lite.inline-hz-center.margin-bottom-30 Selected Feature Detail
					
					ol.portfolio-detail-list 
						
						li
							span.white.text-small-normal.margin-bottom-5 1. CHARTING AND DATA VISUALIZATION:
					
							p.white.text-small-normal.
								Created a variety of data visualizations to give Skoop a quick view of their daily sales, order, user, and promotions trends.

						li
							span.white.text-small-normal.margin-bottom-5 2. SALES REPORT EXPORTING:
					
							p.white.text-small-normal.
								Allow Skoop users to select various sales items (selected items are checked) export to the spreadsheet application of choice.


			div.modal-col-75.position-relative
				img.responsive-img.pull-right(src="./images/skoopsaleslarge.png")

				//- Feature flags
				div.feature-flag.large-header-lite.skoop-flag-1 1
				div.feature-flag.large-header-lite.skoop-flag-2 2