div#skoop-modal.hidden-el
	div.modal-lightbox
	div.modal-content.modal-container
		div.modal-row
			div.modal-col-25
				div.modal-side-panel
					h3.med-header-lite.white.inline-hz-center.margin-bottom-5 SKOOP ADMIN PLATFORM
					h4.white.base-text-lite.inline-hz-center.margin-bottom-30 Selected Feature Detail


			div.modal-col-75.position-relative
				img.responsive-img.pull-right(src="./images/skoopsaleslarge.png")

				//- Feature flags
				div.feature-flag.skoop-flag-1.large-header-lite 1