div#skoop-modal.hidden-el
	div.modal-lightbox
	div.modal-content.modal-container
		div.modal-row
			div.modal-col-25
				div.modal-side-panel
					h3.med-header-lite.white PROJECT DETAIL

		
			div.modal-col-75
				img.responsive-img.pull-right(src="./images/skoopsaleslarge.png")