doctype 5
html
	head
		title Mark McKelvy
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/elements.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/mixins.css')
		link(rel='stylesheet', href='/stylesheets/variables.css')

	body
		div Some initial text