include includes/header

div.main-container
	div#content
		div.main-row
			div.main-col-100
				div.content-block
					h2.content-header my story
					p.margin-bottom-15 I began my working life in finance, first as an investment banking analyst, then as an associate at a private equity firm. Over the course of my career in finance, I became enamored with the process of building things, figuring things out, and attempting to master complex subjects. This affinity eventually led me to software development, and I completed the transition from financier to developer in early 2014. I currently build web applications for <a href="http://beinghuman.is/", target="_blank">Human Design</a> in Boulder, CO.

					h2.content-header philosophy
					p.margin-bottom-15 I view myself as a craftsman, and software development is my chosen craft. I believe dedicating oneself to a chosen craft and seeking to hone that craft over the course of a career is one of the highest forms of fulfillment, vocational or otherwise.




		
		



	


