include includes/header

div.main-container
	div.main-row
		div.main-col-100
				
			//- Content block
			div.content-block.about-section
				div.content-text
					h2.content-header my story
					p.margin-bottom-15 I began my working life in finance, first as an investment banking analyst, then as an associate at a private equity firm. Over the course of my career in finance, I became enamored with the process of building things, figuring things out, and attempting to master complex subjects. This affinity eventually led me to software development, and I completed the transition from financier to developer in early 2014. I currently build web applications for <a class="external-link", href="http://beinghuman.is/", target="_blank">Human Design</a> in Boulder, CO.

					h2.content-header philosophy
					p.margin-bottom-15 I view myself as a craftsman, and software development is my chosen craft. I believe dedicating oneself to a chosen craft and seeking to hone that craft over the course of a career is one of the highest forms of fulfillment, vocational or otherwise.

			//- Content block
			div.content-block.work-section
				div.content-text
					h2.content-header.margin-bottom-30 professional
					div.main-row.margin-bottom-60
						div.main-col-33
							
							//- Skoop
							div#skoop-modal.hidden-el
								div.modal-lightbox
									div.modal-content
									

							div.portfolio-item
								div.portfolio-image.portfolio-skoop.front-panel
								div.portfolio-description.back-panel
									h3.portfolio-title.margin-bottom-5 Skoop Administrative Platform
									h4.portfolio-subtitle.margin-bottom-15 Human Design
									
									h5.portfolio-section-header OVERVIEW
									p.portfolio-text.margin-bottom-15.
										Skoop is a natural foods company based in Boulder, CO. Following rapid growth and a revamp of their distribution strategy, Skoop was in need of a new, customized e-commerce and adminstrative platform. As part of the Human Design team, I helped build the administrative piece of the platform.
									
									h5.portfolio-section-header KEY FUNCTIONALITY
									ul.portfolio-list.margin-bottom-15
										li Create and modify products, users, promos, etc.
										li Manage, process, ship, and modify orders
										li Create and manage user profiles
										li Visualize sales trends
										li Sort, filter, and manipulate sale, order, and user data
										li Store and modify billing settings
										li Autoship products with customized settings

									h5.portfolio-section-header TECHNOLOGY
									ul.portfolio-list.margin-bottom-15
										li JavaScript / Node.js
										li Backbone
										li Marionette

									h5.portfolio-section-header LINK
									span.portfolio-text.portfolio-link.skoop-modal-trigger(data-modal="#skoop-modal") Skoop Admin Snapshot

						div.main-col-33
							div.portfolio-item
						div.main-col-33
							div.portfolio-item

					h2.content-header.margin-bottom-30 personal
					div.main-row.margin-bottom-60
						div.main-col-33
							div.portfolio-item
						div.main-col-33
							div.portfolio-item
						div.main-col-33
							div.portfolio-item


			//- Content block
			div.content-block.stack-section
				div.content-text
					h2.content-header front end
					ul.margin-bottom-15
						li JavaScript
						li jQuery
						li Backbone.js
						li Marionette.js
						li CSS3 (Stylus)
						li HTML5

					h2.content-header back end
					ul.margin-bottom-15
						li Node.js
						li MongoDB / Mongoose

					h2.content-header preprocessors
					ul.margin-bottom-15
						li Stylus
						li CoffeeScript (but prefer vanilla JavaScript)

					h2.content-header templating
					ul.margin-bottom-15
						li Jade (and its client side derivatives)
						li Handlebars
										

					h2.content-header build and module tools
					ul.margin-bottom-15
						li Grunt
						li Gulp
						li Browserify
						li npm

			//- Content block
			div.content-block.thoughts-section
				div.content-text
					h2.content-header backbone / marionette
					ul.margin-bottom-15
						li
							a.external-link(href="https://www.penflip.com/mmckelvy/marionette-blog-post", target="_blank") Marionettejs and Backbonejs: Dealing with complex and ugly persisted data  