include includes/header
include includes/modals

//- Main content
div.main-container
	
	//- Content block
	//- ABOUT SECTION
	div.content-block.about-section
		div.content-text

			h2.large-header-lite.grey me
			p.justify-content.margin-bottom-30 I am a former finance professional turned web developer. I enjoy building, understanding, and mastering things.
			
			//- CV
			h2.large-header-lite.grey cv
			p.justify-content.margin-bottom-15 [ January 2014 - Present ] <a class="base-text-bold external-link" href="http://beinghuman.is/" target="_blank">Human Design</a> | <em>Web Developer.</em> Architect and build web applications for companies across a variety of industries.

			p.justify-content.margin-bottom-15 [ August 2008 - June 2013 ] <a class="base-text-bold external-link" href="http://www.oaktreecapital.com/" target="_blank">Oaktree Capital</a> | <em>Private Equity Associate.</em> Analyzed buyout investments for Oaktree's Power Opportunities Fund.

			p.justify-content.margin-bottom-15 [ September 2006 - July 2008 ] <a class="base-text-bold external-link" href="http://corp.bankofamerica.com/business/ci/home" target="_blank">Merrill Lynch</a> | <em>Investment Banking Analyst.</em> Created financial models to evaluate and underwrite IPOs, M&ampA, and debt issuances. 

			p.justify-content.margin-bottom-15 [ July 2005 - August 2006 ] <span class="base-text-bold">Montgomery &amp Co.</span> | <em>Investment Banking Analyst.</em> Prepared financial analyses for technology companies. 

			p.justify-content.margin-bottom-30 Graduated from <a class="base-text-bold external-link" href="http://www.claremontmckenna.edu/discovercmc/index.php" target="_blank">Claremont McKenna College</a> in 2005 with a B.A. in Economics. 

			h2.large-header-lite.grey location
			p.justify-content I currently live and work in Los Angeles, CA.


	//- Content block
	//- WORK
	div.content-block.work-section
		div.content-text
			h2.large-header-lite.grey.margin-bottom-15 professional
			div.main-row
				div.work-col-100-50-33.margin-bottom-30
					
					//- Skoop
					div.portfolio-item
						div.portfolio-image.portfolio-skoop.front-panel
						div.portfolio-description.back-panel
							h3.med-header-normal.inline-hz-center.margin-bottom-5 Skoop Administrative Platform
							h4.grey.inline-hz-center.margin-bottom-15 Human Design
							
							h5.grey OVERVIEW
							p.portfolio-text.margin-bottom-15.
								Skoop is a natural foods company based in Boulder, CO. Following rapid growth and a revamp of their distribution strategy, Skoop was in need of a new e-commerce platform. As part of the Human Design team, I helped build the administrative piece of the platform.
							
							h5.grey KEY FUNCTIONALITY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li Create and modify products, users, promos, etc.
								li Manage, process, ship, and modify orders
								li Create and manage user profiles
								li Visualize sales, order, and user trends
								li Sort, filter, and manipulate sale, order, and user data
								li Autoship products with customized settings

							h5.grey TECHNOLOGY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li JavaScript / Node.js
								li MongoDB
								li Backbone
								li Marionette

							h5.grey DETAIL (SITE ACCESS IS RESTRICTED)
							span.portfolio-text.portfolio-link.modal-trigger(data-modal="#skoop-modal") Skoop Admin Screenshots

				div.work-col-100-50-33.margin-bottom-30
					
					//- Mrs. American Made
					div.portfolio-item
						div.portfolio-image.portfolio-american.front-panel
						div.portfolio-description.back-panel
							h3.med-header-normal.inline-hz-center.margin-bottom-5 Mrs. American Made
							h4.grey.inline-hz-center.margin-bottom-15 Human Design
							
							h5.grey OVERVIEW
							p.portfolio-text.margin-bottom-15.
								Mrs. American Made is a "made in USA" style blog (Tumblr based) by Ana Bogusky, former Crispin, Porter + Bogusky director and co-founder of FearLess Revolution. I worked with the designers at Human Design to create a new theme and add unique, custom functionality to her blog.
							
							h5.grey KEY FUNCTIONALITY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li Programmatically create custom gallery pages
								li Dynamically categorize and sort gallery images
								li Inject custom content via Tumblr API / JSONP
								li Dynamically arrange and size photosets 
								li Create and populate "popular posts" rankings
								

							h5.grey TECHNOLOGY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li JavaScript
								li HTML / CSS
								li
									a.portfolio-link(href="https://github.com/mmckelvy/tumblr-photosetsizer", target="_blank") Photoset sizing and arranging module

							h5.grey LINK
							a.portfolio-text(href="http://www.mrsamericanmade.com/", target="_blank").portfolio-link Mrs. American Made
				
				div.work-col-100-50-33.margin-bottom-30
					
					//- Johnny Alamo
					div.portfolio-item
						div.portfolio-image.portfolio-jae.front-panel
						div.portfolio-description.back-panel
							h3.med-header-normal.inline-hz-center.margin-bottom-5 Johnny Alamo
							h4.grey.inline-hz-center.margin-bottom-15 Human Design
							
							h5.grey OVERVIEW
							p.portfolio-text.margin-bottom-15.
								Johnny Alamo Entertainment (JAE) is a full-service marketing agency, production company, and consultancy firm.  Under Human Design, I took designer mock-ups and translated them into a website.
							
							h5.grey KEY FUNCTIONALITY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li Programmatically pull and format key client tweets
								li Present key client content through video, images, etc. 
								li Create and format emails via "contact us" form
								

							h5.grey TECHNOLOGY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li JavaScript / Node.js
								li HTML / CSS
								li Twitter API
								li async.js

							h5.grey LINK
							a.portfolio-text(href="http://www.johnnyalamo.com/", target="_blank").portfolio-link Johnny Alamo Entertainment

			h2.large-header-lite.grey.margin-bottom-15 personal
			div.main-row
				
				div.work-col-100-50-33.margin-bottom-30
					div.portfolio-item
						div.portfolio-image.portfolio-valuecreate.front-panel
						div.portfolio-description.back-panel
							h3.med-header-normal.inline-hz-center.margin-bottom-5 ValueCreate
							h4.grey.inline-hz-center.margin-bottom-15 Personal
							
							h5.grey OVERVIEW
							p.portfolio-text.margin-bottom-15.
								ValueCreate is a fully functional valuation model packaged in a web application. It allows you to quickly compute a company's value using a minimal number of standard financial inputs.
							
							h5.grey KEY FUNCTIONALITY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li Create, modify, and delete companies
								li Calculate VC / private equity style valuations
								li Provide a graphical breakdown of key value sources
								

							h5.grey TECHNOLOGY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li JavaScript / Node.js
								li MongoDB
								li HTML / CSS

							h5.grey LINK
							a.portfolio-text(href="http://www.valuecreate.io/", target="_blank").portfolio-link ValueCreate
				
				div.work-col-100-50-33.margin-bottom-30
					div.portfolio-item
						div.portfolio-image.portfolio-powerset.front-panel
						div.portfolio-description.back-panel
							h3.med-header-normal.inline-hz-center.margin-bottom-5 Powerset Module
							h4.grey.inline-hz-center.margin-bottom-15 Personal
							
							h5.grey OVERVIEW
							p.portfolio-text.margin-bottom-15.
								A simple module for working with the power set (all subsets of a given set).
							
							h5.grey KEY FUNCTIONALITY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li List all subsets of a given set
								li Calculate the sum of the powerset for a given set
								li Check for equivalence of powerset sum and set's max
								

							h5.grey TECHNOLOGY
							ul.portfolio-list.portfolio-text.margin-bottom-15
								li JavaScript

							h5.grey LINK
							a.portfolio-text(href="https://github.com/mmckelvy/powerset", target="_blank").portfolio-link Powerset
				

	//- Content block
	//- STACK
	div.content-block.stack-section
		div.content-text
			h2.large-header-lite.grey front end
			ul.margin-bottom-30
				li JavaScript
				li Backbone.js
				li Marionette.js
				li CSS3 (Stylus)
				li HTML5

			h2.large-header-lite.grey back end
			ul.margin-bottom-30
				li Node.js
				li Socket.io
				li MongoDB / Mongoose

			h2.large-header-lite.grey templating
			ul.margin-bottom-30
				li Jade
				li Handlebars

			h2.large-header-lite.grey build and module tools
			ul.margin-bottom-30
				li Grunt
				li Gulp
				li Browserify
				li npm

			p.margin-bottom-5 The above stack is what I currently use on a day-to-day basis. That said, I am not wed to any particular technology and am willing pick up the right tool for the job as appropriate.   

	//- Content block
	//- THOUGHTS
	div.content-block.thoughts-section
		div.content-text
			ul.margin-bottom-15
				li.grey [ July 2014 ] 
					a.external-link(href="https://www.penflip.com/mmckelvy/marionette-blog-post", target="_blank") Marionettejs and Backbonejs: Dealing with complex and ugly persisted data


	//- Content block
	//- CONTACT
	div.content-block.links-section
		div.content-text
			h2.large-header-lite mmckelvy@gmail.com

			a(href="https://twitter.com/markmckelvy", target="_blank")
				h2.large-header-lite.external-link twitter

			a(href="https://www.linkedin.com/in/mmckelvy/", target="_blank")
				h2.large-header-lite.external-link linked in
			
			a(href="https://github.com/mmckelvy", target="_blank")
				h2.large-header-lite.external-link github

			a(href="http://stackoverflow.com/users/2962432/mark-mckelvy", target="_blank")
				h2.large-header-lite.external-link stackoverflow

			a(href="http://www.quora.com/Mark-McKelvy", target="_blank")
				h2.large-header-lite.external-link quora
