doctype html
html
	head
		title Mark McKelvy
		link(rel='stylesheet', href='/stylesheets/lib/base.css')
		link(rel='stylesheet', href='/stylesheets/lib/elements.css')
		link(rel='stylesheet', href='/stylesheets/lib/layout.css')

	body
		div.grid-container		
			div.grid-row 
				div.grid-col-xs-30 SOME CONTENT
				div.grid-col-xs-30 MORE CONTENT
				div.grid-col-xs-30 MORE CONTENT
				div.grid-col-xs-30 MORE CONTENT