doctype html
html
	head
		title Mark McKelvy
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/lib/base.css')
		link(rel='stylesheet', href='/stylesheets/lib/elements.css')
		link(rel='stylesheet', href='/stylesheets/lib/layout.css')


	body
		div.navbar
			a.nav-item(href="#") About
			a.nav-item(href="#") Work
			a.nav-item(href="#") Blog