include includes/header
include includes/modals

//- Main content
div.main-container
	div.main-row
		div.main-col-100
				
			//- Content block
			//- ABOUT SECTION
			div.content-block.about-section
				div.content-text

					h2.large-header-lite.grey story
					p.margin-bottom-5 I began my career in finance, first as an investment banking analyst and later as a private equity associate. While working in finance I developed a strong affininty for building well-crafted analytical tools to solve complex problems. This affinity natually led me to programming, as programming is also about building well-crafted analytical tools to solve complex problems, albeit generally on a grander scale. Eventually the opportunity to tackle such problems full time, without the accompanying impediments endemic to finance (e.g. meetings, memos, conference calls etc.) became too alluring, and I made the transition to programming full time in January of 2014, following the completion of a web development course in the Fall of 2013.  

					p.margin-bottom-15 

					h2.large-header-lite.grey cv
					p.margin-bottom-15 

					h2.large-header-lite.grey philosophy
					p.margin-bottom-15 

			//- Content block
			//- WORK
			div.content-block.work-section
				div.content-text
					h2.large-header-lite.grey.margin-bottom-30 professional
					div.main-row.margin-bottom-60
						div.main-col-33
							
							//- Skoop
							div.portfolio-item
								div.portfolio-image.portfolio-skoop.front-panel
								div.portfolio-description.back-panel
									h3.med-header-normal.inline-hz-center.margin-bottom-5 Skoop Administrative Platform
									h4.grey.inline-hz-center.margin-bottom-15 Human Design
									
									h5.grey OVERVIEW
									p.margin-bottom-15.
										Skoop is a natural foods company based in Boulder, CO. Following rapid growth and a revamp of their distribution strategy, Skoop was in need of a new, customized e-commerce and adminstrative platform. As part of the Human Design team, I helped build the administrative piece of the platform.
									
									h5.grey KEY FUNCTIONALITY
									ul.portfolio-list.margin-bottom-15
										li Create and modify products, users, promos, etc.
										li Manage, process, ship, and modify orders
										li Create and manage user profiles
										li Visualize sales, order, and user trends
										li Sort, filter, and manipulate sale, order, and user data
										li Store and modify billing settings
										li Autoship products with customized settings

									h5.grey TECHNOLOGY
									ul.portfolio-list.margin-bottom-15
										li JavaScript / Node.js
										li MongoDB
										li Backbone
										li Marionette

									h5.grey DETAIL (SITE ACCESS IS RESTRICTED)
									span.portfolio-text.portfolio-link.modal-trigger(data-modal="#skoop-modal") Skoop Admin Screenshots

						div.main-col-33
							
							//- Mrs. American Made
							div.portfolio-item
								div.portfolio-image.portfolio-american.front-panel
								div.portfolio-description.back-panel
									h3.med-header-normal.inline-hz-center.margin-bottom-5 Mrs. American Made
									h4.grey.inline-hz-center.margin-bottom-15 Human Design
									
									h5.grey OVERVIEW
									p.margin-bottom-15.
										Mrs. American Made is a "made in USA" style blog (Tumblr based) by Ana Bogusky, former Crispin, Porter + Bogusky director and co-founder of FearLess Revolution. I worked with the designers at Human Design to create a new theme and add unique, custom functionality to her blog.
									
									h5.grey KEY FUNCTIONALITY
									ul.portfolio-list.margin-bottom-15
										li Programmatically create custom gallery pages
										li Dynamically categorize and sort gallery images
										li Inject custom content via Tumblr API / JSONP
										li Dynamically arrange and size photosets 
										li Create and populate "popular posts" rankings
										

									h5.grey TECHNOLOGY
									ul.portfolio-list.margin-bottom-15
										li JavaScript
										li HTML / CSS
										li
											a.portfolio-link(href="https://github.com/mmckelvy/tumblr-photosetsizer", target="_blank") Photoset sizing and arranging algorithm

									h5.grey LINK
									a(href="http://www.mrsamericanmade.com/", target="_blank").portfolio-link Mrs. American Made
						
						div.main-col-33
							
							//- Johnny Alamo
							div.portfolio-item
								div.portfolio-image.portfolio-jae.front-panel
								div.portfolio-description.back-panel
									h3.med-header-normal.inline-hz-center.margin-bottom-5 Johnny Alamo
									h4.grey.inline-hz-center.margin-bottom-15 Human Design
									
									h5.grey OVERVIEW
									p.margin-bottom-15.
										Johnny Alamo Entertainment (JAE) is a full-service marketing agency, production company, and consultancy firm.  Under Human Design, I took designer mock-ups and translated them into a website.
									
									h5.grey KEY FUNCTIONALITY
									ul.portfolio-list.margin-bottom-15
										li Programmatically pull and format key client tweets
										li Present key client content through video, images, etc. 
										li Create and format emails via "contact us" form
										

									h5.grey TECHNOLOGY
									ul.portfolio-list.margin-bottom-15
										li JavaScript / Node.js
										li HTML / CSS
										li Twitter API
										li async.js

									h5.grey LINK
									a(href="http://www.johnnyalamo.com/", target="_blank").portfolio-link Johnny Alamo Entertainment

					h2.large-header-lite.grey.margin-bottom-30 personal
					div.main-row.margin-bottom-60
						
						div.main-col-33
							div.portfolio-item
								div.portfolio-image.portfolio-valuecreate.front-panel
								div.portfolio-description.back-panel
									h3.med-header-normal.inline-hz-center.margin-bottom-5 ValueCreate
									h4.grey.inline-hz-center.margin-bottom-15 Personal
									
									h5.grey OVERVIEW
									p.margin-bottom-15.
										ValueCreate is a fully functional valuation model packaged in a web application. It allows you to quickly compute a company's value using a minimal number of standard financial inputs.
									
									h5.grey KEY FUNCTIONALITY
									ul.portfolio-list.margin-bottom-15
										li Create, modify, and delete companies
										li Calculate VC / private equity style valuations
										li Provide a graphical breakdown of key value sources
										

									h5.grey TECHNOLOGY
									ul.portfolio-list.margin-bottom-15
										li JavaScript / Node.js
										li MongoDB
										li HTML / CSS

									h5.grey LINK
									a(href="http://www.valuecreate.io/", target="_blank").portfolio-link ValueCreate
						
						div.main-col-33
							div.portfolio-item
						div.main-col-33
							div.portfolio-item


			//- Content block
			//- STACK
			div.content-block.stack-section
				div.content-text
					h2.large-header-lite.grey front end
					ul.margin-bottom-15
						li JavaScript
						li jQuery
						li Backbone.js
						li Marionette.js
						li CSS3 (Stylus)
						li HTML5

					h2.large-header-lite.grey back end
					ul.margin-bottom-15
						li Node.js
						li MongoDB / Mongoose

					h2.large-header-lite.grey preprocessors
					ul.margin-bottom-15
						li Stylus
						li CoffeeScript (but prefer vanilla JavaScript)

					h2.large-header-lite.grey templating
					ul.margin-bottom-15
						li Jade (and its client side derivatives)
						li Handlebars
										

					h2.large-header-lite.grey build and module tools
					ul.margin-bottom-15
						li Grunt
						li Gulp
						li Browserify
						li npm

			//- Content block
			//- THOUGHTS
			div.content-block.thoughts-section
				div.content-text
					h2.large-header-lite.grey backbone / marionette
					ul.margin-bottom-15
						li
							a.external-link(href="https://www.penflip.com/mmckelvy/marionette-blog-post", target="_blank") Marionettejs and Backbonejs: Dealing with complex and ugly persisted data  