include includes/header

section.headline.margin-bottom-20
	nav.navbar
		div.nav-wrapper
			ul.nav-list
				li
					a(href="#") About
				li 
					span |
				li
					a(href="#") Work
				li
					span |
				li
					a(href="#") Thoughts
		
	h1.main-header.inline-hz-center.margin-bottom-20 Mark McKelvy
	h2.section-header.inline-hz-center Web Developer

section.about.relative-position
	div.section-border.absolute-position
	div.main-container
		div.main-row
			div.col-100
				h2.section-header about





		
		



	


