include includes/header

div.main-container
	div#content
		div.main-row
			div.main-col-100
				div.content-block
					p In a past life, I was an investment banking analyst, then an associate at a private equity firm. I had myriad responsibilities in both capacities, but there was one responsibility in particular that captured my attention: financial modeling. What began as a simple assignment to build a discounted cash flow valuation model grew into an obsession. I constantly thought about how to craft better models - how to structure my data so it could be accessed and manipulated more efficiently, how to build logic so that my models could easily accommodate a variety of transaction scenarios, and how to create a control interface that was simple and intuitive. As my career progressed and my responsibility increased, the models became more complex      




		
		



	


