doctype html
html
	head
		title Mark McKelvy
		link(rel='stylesheet', href='/stylesheets/lib/base.css')
		link(rel='stylesheet', href='/stylesheets/lib/elements.css')
		link(rel='stylesheet', href='/stylesheets/lib/layout.css')

	body
		div.grid-container		
			div Some initial text