include includes/header

div.main-container
	div#content
		div.main-row
			div.main-col-100
				
				//- Content block
				div.content-block.about-section
					h2.content-header my story
					p.margin-bottom-15 I began my working life in finance, first as an investment banking analyst, then as an associate at a private equity firm. Over the course of my career in finance, I became enamored with the process of building things, figuring things out, and attempting to master complex subjects. This affinity eventually led me to software development, and I completed the transition from financier to developer in early 2014. I currently build web applications for <a href="http://beinghuman.is/", target="_blank">Human Design</a> in Boulder, CO.

					h2.content-header philosophy
					p.margin-bottom-15 I view myself as a craftsman, and software development is my chosen craft. I believe dedicating oneself to a chosen craft and seeking to hone that craft over the course of a career is one of the highest forms of fulfillment, vocational or otherwise.

				//- Content block
				div.content-block.stack-section
					h2.content-header front end
					ul.stack-list.margin-bottom-15
						li JavaScript
						li jQuery
						li Backbone.js
						li Marionette.js
						li CSS3 (Stylus)
						li HTML5

					h2.content-header back end
					ul.stack-list.margin-bottom-15
						li Node.js
						li MongoDB / Mongoose

					h2.content-header preprocessors
					ul.stack-list.margin-bottom-15
						li Stylus
						li CoffeeScript (but prefer vanilla JavaScript)

					h2.content-header templating
					ul.stack-list.margin-bottom-15
						li Jade (and its client side derivatives)
						li Handlebars
										

					h2.content-header build and module tools
					ul.stack-list.margin-bottom-15
						li Grunt
						li Gulp
						li Browserify
						li npm








		
		



	


