include includes/header

div.main-container
	div.main-row.margin-bottom-10
		div.col-100
			h1.main-header.margin-bottom-20 Mark McKelvy
		
		div.col-50
			aside.profile-image-wrapper
				img(src="./images/profile.png")

		div.col-50
			nav.nav-wrapper
				ul.nav-list
					li
						a(href="#") about
					li
						a(href="#") work
					li
						a(href="#") thoughts



	


