include includes/header
include includes/modals

//- Main content
div.main-container.margin-bottom-60
	
	//- Content block
	//- ABOUT SECTION
	div.content-block.about-section
		div.content-text

			h2.large-header-lite.grey me
			p.justify-content.margin-bottom-30 I am a former finance professional turned software developer. I enjoy building, understanding, and mastering things.
			
			//- CV
			h2.large-header-lite.grey cv
			p.justify-content.margin-bottom-15 [ April 2015 - Present ] <a class="base-text-bold external-link" href="http://datascience.com/" target="_blank">DataScience</a> | <em>Full Stack Software Engineer.</em> Build the company's customer facing web applications.

			p.justify-content.margin-bottom-15 [ December 2014 - Present ] <span class="base-text-bold">Fundamental Elements</span> | <em>Principal.</em> Develop web applications, provide technical and financial consulting services on a freelance basis.

			p.justify-content.margin-bottom-15 [ January 2014 - February 2015 ] <a class="base-text-bold external-link" href="http://beinghuman.is/" target="_blank">Human Design</a> | <em>Web Developer.</em> Architected and built web applications for companies across a variety of industries.

			p.justify-content.margin-bottom-15 [ August 2008 - June 2013 ] <a class="base-text-bold external-link" href="http://www.oaktreecapital.com/" target="_blank">Oaktree Capital</a> | <em>Private Equity Associate.</em> Analyzed buyout investments for Oaktree's Power Opportunities Fund.

			p.justify-content.margin-bottom-15 [ September 2006 - July 2008 ] <a class="base-text-bold external-link" href="http://corp.bankofamerica.com/business/ci/home" target="_blank">Merrill Lynch</a> | <em>Investment Banking Analyst.</em> Created financial models to evaluate and underwrite IPOs, M&ampA, and debt issuances. 

			p.justify-content.margin-bottom-15 [ July 2005 - August 2006 ] <span class="base-text-bold">Montgomery &amp Co.</span> | <em>Investment Banking Analyst.</em> Prepared financial analyses for technology companies. 

			p.justify-content.margin-bottom-30 Graduated from <a class="base-text-bold external-link" href="http://www.claremontmckenna.edu/discovercmc/index.php" target="_blank">Claremont McKenna College</a> in 2005 with a B.A. in Economics. 

			h2.large-header-lite.grey location
			p.justify-content I currently live and work in Los Angeles, CA.


	//- Content block
	//- WORK
	div.content-block.work-section
		div.content-text
			h2.large-header-lite.grey datascience
			
			div.margin-bottom-15.read-max-width
				span.base-text-bold Topic Miner Application 
				span | Aggregates and curates customer reviews using <a href="https://en.wikipedia.org/wiki/Natural_language_processing" class="external-link" target="_blank">natural language processing</a> techniques and custom filters. Built the UI and the frontend server. Used JavaScript, React, Redux, Node.js, and Elasticsearch.

			div.margin-bottom-30.read-max-width
				span.base-text-bold Insights Application 
				span | Converts output from <a href="http://jupyter.org/" class="external-link" target="_blank">Jupyter notebooks</a> (text, graphs, charts, etc.) to HTML and displays the results in a clean, modern interface that includes a variety of interactive features (ratings, comments, sharing, collections, etc.). Built the UI and the frontend server. Used JavaScript, React, Redux, Node.js, and Elasticsearch.

			h2.large-header-lite.grey fundamental elements

			div.margin-bottom-15.read-max-width
				span.base-text-bold Agency website 
				span | Custom website and integration with third party employee screening API. Designed and built the website, set up the third party integration. Used Sketch, JavaScript, jQuery, and Node.js.

			h2.large-header-lite.grey human design

			div.margin-bottom-15.read-max-width
				span.base-text-bold Skoop Administrative Platform 
				span | Creates, tracks, and manages customer orders, user profiles, and products. Summarizes historical data via dashboard charts and tables. Built the UI and parts of the backend server. Used JavaScript, Backbone, Marionette, Node.js, and MongoDB.

			div.margin-bottom-15.read-max-width
				span.base-text-bold Mrs. American Made Style Blog 
				span | Tumblr based style blog with custom, programmatically created gallery pages and other content. Skinned the blog and added the code to create the custom pages and content. Used JavaScript and jQuery. 

	//- STACK
	div.content-block.stack-section
		div.content-text
			h2.large-header-lite.grey front end
			ul.margin-bottom-30
				li JavaScript
				li React
				li Redux

			h2.large-header-lite.grey back end
			ul.margin-bottom-30
				li Node.js
				li Elasticsearch
				li MySQL
				li MongoDB

			h2.large-header-lite.grey previous
			ul.margin-bottom-30
				li Backbone / Marionette
				li jQuery

	//- Content block
	//- THOUGHTS
	div.content-block.thoughts-section
		div.content-text
			ul.margin-bottom-15
				li.grey.margin-bottom-15 [ March 2015 ] 
					a.external-link(href="https://www.penflip.com/mmckelvy/alternating-background-images-with-css", target="_blank") Alternating background images with CSS and JavaScript
				li.grey [ July 2014 ] 
					a.external-link(href="https://www.penflip.com/mmckelvy/marionette-blog-post", target="_blank") Marionettejs and Backbonejs: Dealing with complex and ugly persisted data

	//- Content block
	//- CONTACT
	div.content-block.links-section
		div.content-text
			h2.large-header-lite mmckelvy@gmail.com

			a(href="https://twitter.com/markmckelvy", target="_blank")
				h2.large-header-lite.external-link twitter

			a(href="https://www.linkedin.com/in/mmckelvy/", target="_blank")
				h2.large-header-lite.external-link linked in
			
			a(href="https://github.com/mmckelvy", target="_blank")
				h2.large-header-lite.external-link github

			a(href="http://stackoverflow.com/users/2962432/mark-mckelvy", target="_blank")
				h2.large-header-lite.external-link stackoverflow

			a(href="http://www.quora.com/Mark-McKelvy", target="_blank")
				h2.large-header-lite.external-link quora
