/**
* MODULES
* Distinct CSS sections or components.
**/

/**
* Desktop navigation and site header
**/
.navbar
	@media $screen-md-min
		border-top: 2px solid $darkgrey

.nav-list
	width: 100%
	
	li
		padding: 10px 0
		text-align: center
		color: $darkgrey

	@media $screen-md-min
		width: 45%
		marginCenter()
		margin-top: -21px
		background-color: $white

		li
			padding: 0
			display: inline-block
			height: 40px
			line-height: 40px
			width: 20%

.nav-item-link
	cursor: pointer
	easeOutTrs(color)

	&:hover
		color: $black

.nav-item-active
	color: $black	

/**
* Mobile navigation
**/
.mobile-nav-icon
	width: 35px
	height: auto
	position: absolute
	top: 10px
	right: 10px

.mobile-nav-list
	width: 100%
	
	li
		padding: 5px 0
		text-align: center


/**
* Main content
**/

.content-block
	height: 0
	border-left: 1px solid $grey
	padding-left: 15px
	display: none

.content-text
	opacity: 0

.external-link
	cursor: pointer
	color: $black
	easeOutTrs(color)

.external-link:hover
	color: $grey
