/**
VARIABLES
**/

/*
Media queries
*/

// Note that default styles are mobile first (i.e. assume a 320px width device)

// Phones 
$screen-xs = '(max-width:' + 320 + 'px)'

// iPads, tablets 
$screen-sm = '(min-width:' + 321 + 'px) and (max-width:' + 768 + 'px)'

// Small laptops, larger tablets 
$screen-md = '(min-width:' + 769 + 'px) and (max-width:' + 1024 + 'px)'

// Laptops 
$screen-lg = '(min-width:' + 1025 + 'px) and (max-width:' + 1280 + 'px)'

// Large Desktops 
$screen-xl = '(min-width:' + 1281 + 'px)'

/* Minimums */
$screen-sm-min = '(min-width:' + 481 + 'px)' // e.g. iPads in portrait view.
$screen-md-min = '(min-width:' + 769 + 'px)' // e.g. iPads in landscape view and most laptops.
$screen-lg-min = '(min-width:' + 1025 + 'px)' // e.g. larger laptops and small to mid size monitors.
$screen-xl-min = '(min-width:' + 1281 + 'px)' // e.g. large monitors.

$screen-sm-max = '(max-width:' + 768 + 'px)'

/** 
* Fonts
**/
$main-font = "Helvetica Neue", 'Roboto', Helvetica, Arial, sans-serif

/** 
* Colors
**/
$lightgrey = #f8f8f8
$grey = #d6d6d6
$darkgrey = #cecece
$verydarkgrey = #808080
$softgreen = #97e693
$black = #000000
$white = #fff

/** 
* Positioning and layout
**/

$primary-padding = 15px

/** 
* Dimensions
**/

$portfolio-height = 450px