/**
* BASE
* Core font, header, text, and border styles
**/

/**
* Basic page set-up
**/

*, *:before, *:after
	box-sizing: border-box
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box

body
	font-family: $mainfont
	font-weight: 200
	font-size: 14px

/**
* Resets
**/
h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	font-weight: normal

ul, ol
	margin 0
	padding-left 0

li
	list-style none

a
	outline none
	text-decoration none

p
	margin-top 0

button
	appearance none
	background-color transparent
	border none
	box-shadow none
	cursor pointer
	outline none

/**
* Typography
**/

// Site headers
.site-header-font
	font-size: 24px
	font-weight: 200
	letter-spacing: 5px

.site-subhead-font
	font-size: 14px
	font-weight: 200
	letter-spacing: 3px

// Generic headers
.large-header-lite
	font-size: 30px
	font-weight: 100

.med-header-lite
	font-size: 18px
	font-weight: 100

.large-header-normal
	font-size: 30px
	font-weight: 200

.med-header-normal
	font-size: 18px
	font-weight: 200

// Content text
.base-text-lite
	font-weight: 100

.text-small-normal
	font-size: 12px

/**
* Colors
**/
// Text and foreground colors.
.light-grey
	color: $lightgrey

.black
	color: $black

.grey
	color: $grey

.white
	color: $white

// Images
.responsive-img
	max-width: 100%
	height: auto

