@import 'variables'
@import 'mixins'

*, *:before, *:after
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box

body
	font-family $mainfont

.border-bottom-grey
	border-bottom 1px solid $grey

.sub-headers
	font-size 24px
	font-weight 100
	letter-spacing 2px