@import 'variables'
@import 'mixins'

.navbar
	displayFlex()
	flexHzRight()
	flexVtCenter()
	height 50px

.nav-item
	color $darkgrey
	font-weight 100
	letter-spacing 2px
	padding-right 25px
	padding-left 25px
	text-decoration none

.nav-item:hover
	color #97e693