@import 'variables'
@import 'mixins'
@import 'base'

/**
* Navigation
**/

.navbar
	height: 100px
	padding: 20px 30px

.nav-wrapper
	float: right

.nav-list > li > a
	font-size: 60px
	font-weight: 100
	color: $grey
	text-decoration: none

	&:hover
		color $softgreen
					
/**
* Main section
**/

.main-header
	@extend .section-header

	color: $black
	text-align: center
	padding-bottom: 20px
	border-bottom: 1px solid $black

