@import 'variables'
@import 'mixins'

/******* Navigation *******/
.navbar
	displayFlex()
	flexHzRight()
	flexVtCenter()
	height 50px
	background-color #000000

.nav-item
	color #fff
	font-weight 100
	letter-spacing 2px
	padding-right 25px
	padding-left 25px
	text-decoration none

.nav-item:hover
	color $softgreen

.hero-image
	width 100%
	height auto

.about-box
	flexEr(1, 1, 33.333%)
	height 300px
	margin 5px
	
.about-box-1
	backgrounds('/images/aboutplace1.jpg', 50%, 50%, 100%, auto, no-repeat)


.about-box-2
	backgrounds('/images/aboutplace2.jpg', 50%, 50%, 100%, auto, no-repeat)

.about-box-3
	backgrounds('/images/aboutplace3.jpg', 50%, 50%, 100%, auto, no-repeat)
