/**
* LAYOUT
* For positioning elements.
**/


/**
* Grid
**/

/* Containers */
.modal-container
	createContainer(0, auto, 1000px)

.main-container
	createContainer($primary-padding, auto, auto, 750px, 970px, 1250px)

/* Rows */
.header-row
	createRow(0)

.modal-row
	createRow(0)

.main-row
	createRow()

/* Columns */

// Header columns.
.header-col-100
	createColumn(0, 100%)

.header-col-33
	createColumn(0, 33.333333%)

.header-col-67
	createColumn(0, 66.666666%)
	
.header-col-100-33
	createColumn(0, 100%, 100%, 33%)

// Modal columns
.modal-col-100
	createColumn(0, 100%)

// Main columns
.main-col-100
	createColumn($primary-padding, 100%)

.main-col-95
	createColumn($primary-padding, 95%)

.main-col-75
	createColumn($primary-padding, 75%)

.main-col-33
	createColumn($primary-padding, 33%)

.main-col-25
	createColumn($primary-padding, 25%)

.main-col-5
	createColumn($primary-padding, 5%)
	
.work-col-100-50-33
	createColumn($primary-padding, 100%, 100%, 50%, 50%, 33%)
	
/**
* Alignment
**/

.inline-hz-center
	text-align: center

.block-hz-center
	marginCenter()

.inline-right-align
	text-align: right

.justify-content
	text-align: justify

.pull-right
	float: right
	
/**
* Padding
**/

.padding-top-100
	padding-top: 100px

/**
* Margin
**/

// Bottom margins
.margin-bottom-60
	margin-bottom: 60px

.margin-bottom-30-45
	margin-bottom: 30px
	
	@media $screen-md-min
		margin-bottom: 45px

.margin-bottom-30
	margin-bottom: 30px

.margin-bottom-18
	margin-bottom: 18px

.margin-bottom-15
	margin-bottom: 15px

.margin-bottom-10
	margin-bottom: 10px

.margin-bottom-5
	margin-bottom: 5px

// Right and left margins
.margin-left-33pct
	margin-left: 33.33333%

.margin-left-15
	margin-left: 15px
	
.margin-right-15
	margin-right: 15px


/**
* Display management
**/

.hidden-el
	display: none

// Hide elements on mobile.
.mobile-hidden
	@media $screen-sm-max
		display: none

.desktop-hidden
	@media $screen-md-min
		display: none

/**
* Positioning
**/

.position-relative
	position: relative
