/**
* LAYOUT
* For positioning elements.
**/


/**
* Grid
**/

/* Containers */
.site-header-container
	createContainer(0, auto, 90%)

.main-container 
	createContainer($primary-padding, auto, auto, $container-md, $container-lg, $container-xl)

/* Rows */
.header-row
	createRow(0)

.main-row
	createRow($primary-padding)

/* Columns */
.header-col-100
	createColumn(0, 100%)

.header-col-33
	createColumn(0, 33.333333%)

/**
* Alignment
**/

.inline-hz-center
	text-align: center

.block-hz-center
	marginCenter()

.inline-right-align
	text-align: right

/**
* Padding
**/

.padding-top-100
	padding-top: 100px

.margin-bottom-30
	margin-bottom: 30px

.margin-bottom-60
	margin-bottom: 60px