/***************** 
Flexbox mixins
*****************/

display()
	display flex 
	display -webkit-flex


/***************** 
Positioning mixins
*****************/

/*
Center block level elements setting margin right / left to auto
*/
marginCenter()
	margin-left auto
	margin-right auto
	