/**
* MODULES
* Distinct CSS sections or components.
**/

/**
* Desktop navigation and site header
**/
.navbar
	@media $screen-md-min
		border-top: 2px solid $darkgrey

.nav-list
	width: 100%
	
	li
		padding: 10px 0
		text-align: center
		color: $darkgrey

	@media $screen-md-min
		width: 45%
		marginCenter()
		margin-top: -21px
		background-color: $white

		li
			padding: 0
			display: inline-block
			height: 40px
			line-height: 40px
			width: 20%

.nav-item-link
	cursor: pointer

	&:hover
		color: $black

.nav-item-active
	color: $black	

/**
* Mobile navigation
**/
.mobile-nav-icon
	width: 35px
	height: auto
	position: absolute
	top: 10px
	right: 10px

.mobile-nav-list
	width: 100%
	
	li
		padding: 5px 0
		text-align: center


/**
* Main content
**/

.content-block
	height: 0
	border-left: 1px solid $grey
	padding-left: 15px
	display: none

.content-text
	opacity: 0

.external-link
	cursor: pointer
	color: $black

.external-link:hover
	color: $grey

/**
* Portfolio section.
**/

// Flipping animation.
.portfolio-item
	width: 100%
	height: $portfolio-height
	-webkit-perspective: 1000px
	perspective: 1000px
	padding: 2px

.portfolio-item:hover .front-panel
	-webkit-transform: rotateY(180deg)
	-moz-tranform: rotateY(180deg)
	-ms-transform: rotateY(180deg)
	transform: rotateY(180deg)

.portfolio-item:hover .back-panel
	-webkit-transform: rotateY(0)
	-moz-tranform: rotateY(0)
	-ms-transform: rotateY(0)
	transform: rotateY(0)	

.front-panel
	position: absolute
	top: 0
	left: 0
	-webkit-backface-visibility: hidden
	backface-visibility: hidden
	
	-webkit-transform-style: preserve-3d
	-moz-transform-style: preserve-3d
	-ms-transform-style: preserve-3d
	transform-style: preserve-3d
	
	-webkit-transition: -webkit-transform 1s
	transition: transform 1s

.back-panel
	position: absolute
	top: 0
	left: 0
	
	-webkit-transform-style: preserve-3d
	-moz-transform-style: preserve-3d
	-ms-transform-style: preserve-3d
	transform-style: preserve-3d
	
	-webkit-backface-visibility: hidden
	backface-visibility: hidden
	
	-webkit-transition: -webkit-transform 1s
	transition: transform 1s
	
	-webkit-transform: rotateY(-180deg)
	-moz-tranform: rotateY(-180deg)
	-ms-transform: rotateY(-180deg)
	transform: rotateY(-180deg)

// End flipping animation.

.portfolio-image
	width: 100%
	height: $portfolio-height
	border: 1px solid $grey
	

.portfolio-description
	background-color: $black
	color: $white
	width: 100%
	height: $portfolio-height
	padding: 15px

// Portfolio background images
.portfolio-skoop
	background-image: url('../../images/gallery/skoop.jpg')
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.portfolio-american
	backgrounds('../../images/gallery/mrsamerican.jpg', center, cover, no-repeat)

.portfolio-jae
	backgrounds('../../images/gallery/jae.jpg', center, cover, no-repeat)

.portfolio-valuecreate
	backgrounds('../../images/gallery/valuecreate.jpg', center, cover, no-repeat)

.portfolio-powerset
	backgrounds('../../images/gallery/powerset.jpg', center, cover, no-repeat)

// End portfolio background images

.portfolio-list li
	list-style-type: square
	list-style-position: inside
	
.portfolio-link
	color: $white
	text-decoration: underline

.portfolio-link:hover
	cursor: pointer

.portfolio-detail-list li
	margin-bottom: 30px

.portfolio-text
	font-size: 11px
	
	@media $screen-lg-min
		font-size: 14px

/**
* Modals
**/
.modal-wrapper
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 4

.modal-lightbox
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: $black
	opacity: 0.8
	z-index: 2

.modal-content
	position: relative
	opacity: 1
	z-index: 3

