/**
* MODULES
* Distinct CSS sections or components.
**/

/**
* Navigation and site header
**/
.navbar
	border-top: 2px solid $darkgrey

.nav-list
	width: 45%
	marginCenter()
	margin-top: -21px
	background-color: $white

	li
		display: inline-block
		color: $darkgrey
		height: 40px
		line-height: 40px
		width: 20%
		text-align: center

.nav-item-link
	cursor: pointer

	&:hover
		color: $black

.nav-item-active
	color: $black	

/**
* Main content
**/

.content-block
	height: 0
	border-left: 1px solid $grey
	padding-left: 15px

.content-text
	opacity: 0

.external-link
	cursor: pointer
	color: $black

.external-link:hover
	color: $grey
	text-decoration: underline

/**
* Portfolio section.
**/

// Flipping animation.
.portfolio-item
	width: 100%
	height: $portfolio-height
	border: 1px solid $grey
	perspective: 1000px

.portfolio-item:hover .front-panel
	transform: rotateY(180deg)

.portfolio-item:hover .back-panel
	transform: rotateY(0)	

.front-panel
	position: absolute
	top: 0
	left: 0
	transform-style: preserve-3d
	backface-visibility: hidden
	transition: -webkit-transform 1s

.back-panel
	position: absolute
	top: 0
	left: 0
	transform-style: preserve-3d
	backface-visibility: hidden
	transition: transform 1s
	transform: rotateY(-180deg) // Ensure is initially facing away.

// End flipping animation.

.portfolio-image
	width: 100%
	height: $portfolio-height

.portfolio-description
	width: 100%
	height: $portfolio-height
	padding: 15px

.portfolio-skoop
	backgrounds('../../images/skoopsales.png', 0, 0, 100%, auto, no-repeat)

.portfolio-list li
	list-style-type: square
	list-style-position: inside
	
.portfolio-link:hover
	text-decoration: underline
	cursor: pointer

.portfolio-detail-list li
	margin-bottom: 30px

/**
* Modals
**/
.modal-lightbox
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	background-color: $black
	opacity: 0.8
	z-index: 2

.modal-content
	position: absolute
	top: 10%
	left: 50%
	margin-left: -500px
	opacity: 1
	z-index: 3


