/**
* MODULES
* Distinct CSS sections or components.
**/

/**
* Navigation and site header
**/

.site-header-font
	font-size: 24px
	font-weight: 200
	letter-spacing: 5px

.site-subhead-font
	font-size: 14px
	font-weight: 200
	letter-spacing: 3px		

.navbar
	border-top: 2px solid $darkgrey

.nav-list
	width: 45%
	marginCenter()
	margin-top: -21px
	text-align: justify
	background-color: $white

	&:after
		content: ''
		width: 100%
		display: inline-block

	li
		display: inline-block
		color: $darkgrey
		height: 40px
		line-height: 40px
		width: 20%
		text-align: center

.nav-item-link
	cursor: pointer

	&:hover
		color: $softgreen

.nav-item-active
	color: $softgreen	

/**
* Main content
**/
