/**
VARIABLES
**/

/*
Media queries
*/

// Note that default styles are mobile first (i.e. assume a 320px width device)

// Phones 
$screen-xs = '(max-width:' + 320 + 'px)'

// iPads, tablets 
$screen-sm = '(min-width:' + 321 + 'px) and (max-width:' + 768 + 'px)'

// Small laptops, larger tablets 
$screen-md = '(min-width:' + 769 + 'px) and (max-width:' + 1024 + 'px)'

// Laptops 
$screen-lg = '(min-width:' + 1025 + 'px) and (max-width:' + 1280 + 'px)'

// Large Desktops 
$screen-xl = '(min-width:' + 1281 + 'px)'

/* Minimums */
$screen-sm-min = '(min-width:' + 481 + 'px)'
$screen-md-min = '(min-width:' + 769 + 'px)'
$screen-lg-min = '(min-width:' + 1025 + 'px)'
$screen-xl-min = '(min-width:' + 1281 + 'px)'

/** 
* Fonts
**/
$mainfont = font-family "Helvetica Neue", Helvetica, Arial, sans-serif
$xlFont = font-size 60px

/** 
* Colors
**/
$grey = #d6d6d6
$darkgrey = #cecece
$softgreen = #97e693
$black = #000000
$white = #fff

/** 
* Positioning and layout
**/

$primary-padding = 15px

