/***************** 
Media query variables
*****************/

/*
Note that default styles are mobile first (i.e. assume a 320px width device)
*/

/* Phones */
$screen-xs-max = 320px

/* iPads, tablets */
$screen-sm-min = 321px
$screen-sm-max = 768px

/* Small laptops, larger tablets */
$screen-md-min = 769px
$screen-md-max = 1024px

/* Laptops */
$screen-lg-min = 1025px
$screen-lg-max = 1280px

/* Desktops */
$screen-xl-min = 1281px

/***************** 
Fonts
*****************/

$mainfont = font-family "Helvetica Neue", Helvetica, Arial, sans-serif

/***************** 
Positioning and layout
*****************/

$container-md = 750px
$container-lg = 1000px
$container-xl = 1250px